* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --link-color: #b6bec9;
    --buttonColor: #3399ff;
    --bgColor: #15171b;
}

div#employeeDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 20px;
}

.card {
    width: 250px;
    border: 1px solid #ccc;
    background-color: #3399ff;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    scale: 1;
    transition: scale 0.25s;
}

.card.hover {
    scale: 1.1;
}

.card header {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.card header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid silver;
}

.nameRoleContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main {
    padding: 1rem;
    text-align: justify;
}